<!-- <script src="theme/js/vendor/wufoo.js"></script> -->
<form accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://buffalolaw.wufoo.com/forms/zx58wod0cdmo1e/#public" data-abide>
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="small-4 columns">
          <label class="inline right" for="Field110">Your Name <small>required</small></label>
        </div>
        <div class="small-8 columns">
          <input type="text" id="Field110" tabindex="1" placeholder="Proud Buffalonian" required pattern="[a-zA-Z]+">
        </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="small-4 columns">
          <label class="inline right" id="title2" for="Field2">Your Email</label>
        </div>
       <div class="small-8 columns">
          <input type="text" id="Field2" name="Field2" tabindex="2" type="email" placeholder="jane@smithco.com">
          <small class="error">We won't share this with strangers.</small>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="small-4 columns">
        <label class="inline right" id="title1" for="Field1">Message</label>
      </div>
      <div class="small-8 columns">
        <textarea id="Field1" name="Field1" rows="3" cols="50" tabindex="3" onkeyup="" required ></textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="small-1 columns">
        <input id="Field4" name="Field4" type="checkbox" value="I prefer to be contacted via phone" tabindex="3"/>
      </div>
      <div class="small-5 columns">
        <label class="right" for="Field4">I prefer to be contacted via phone</label>
      </div>
      <div class="small-6 columns">
        &nbsp;
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-4 columns">
          <label class="inline right" id="title105" for="Field105">Phone Number</label>
        </div>
        <div class="small-2 columns">
          <span>
            <input id="Field105" name="Field105" type="tel" value="716" size="3" maxlength="3" tabindex="4"/>
          </span>
        </div>
        <div class="small-1 columns">
          <span class="symbol">-</span>
        </div>
        <div class="small-2 columns">
          <span>
            <input id="Field105-1" name="Field105-1" type="tel" value="" size="3" maxlength="3" tabindex="5" />
          </span>
        </div>
        <div class="small-1 columns">
          <span class="symbol">-</span>
        </div>
        <div class="small-2 columns">
          <span>
            <input id="Field105-2" name="Field105-2" type="tel" value="" size="4" maxlength="4" tabindex="6" />
          </span>
        </div>
    </div>
    </div>
  </div>
  <div class="row">
    <button type="submit" id="saveForm" name="saveForm" value="Submit" class="button round large centered">Submit</button>
      <li class="hide">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="D86U3QxD4TCemwe0N3tjoSqDQau/WZ7PpmmsNSCjFUI=" />
      </li>
    </div>
</form>