<!doctype html>
<html dir="ltr" lang="{{ site.theme.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {% include robots.html %}
  {% include meta-description.html %}

  {% for favicon in site.theme.favicons %}
    {% assign size = favicon | split: '-' | last | split: '.' | first %}
    <link rel="icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
    <link rel="apple-touch-icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
  {% endfor %}

  <link rel="stylesheet" href="{{ site.baseurl }}/theme/app.css">
  <script src="{{ site.baseurl }}/theme/js/vendor/modernizr.js"></script>
</head>
<body>
 
  <!-- Main Page Content and Sidebar -->
  <div class="row">
 <!-- Sidebar -->
    <div class="large-4 columns">
      <h5>&nbsp;</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m20!1m8!1m3!1d2923.3473346209535!2d-78.87591503495455!3d42.88661803071616!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x89d31249a74002ff%3A0x73a49eca5bdb9eb6!2s43+Court+St%2C+Buffalo%2C+NY+14202!3m2!1d42.8860992!2d-78.8762369!5e0!3m2!1sen!2sus!4v1421628692737" width="300" height="450" frameborder="0" style="border:0"></iframe>
      <p>
        43 Court Street<br />
        Suite 930<br />
        Buffalo, New York 14202
      </p>
      <p>716-848-8000</p>
    </div>
    <!-- End Sidebar -->

    <!-- Contact Details -->
    <div class="large-8 columns">

      <h5>&nbsp;</h5>
      <img src="http://placehold.it/800x280">
      <h3>{{ page.title }}</h3>

      <p>{{ content }}</p>
      <div class="large-12 columns">
        <dl class="tabs" data-tab="">
          <dd class="active"><a href="#htab-panel1">Contact Us</a></dd>
          <dd class=""><a href="#htab-panel2">Specific Person</a></dd></dl>  
        <div class="tabs-content">
          <div class="content active" id="htab-panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Your Name</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourName" placeholder="Proud Buffalonian">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline"> Your Email</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                </div>
              </div>
              <label>Message</label>
              <textarea rows="4"></textarea>
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
          <div class="content" id="htab-panel2">
            <div class="content" data-slug="panel2">
              <h6>Attorneys</h6>
              <ul class="large-block-grid-3">
                <li><a href="mailto:mark@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[partner]">Mark Cantor</a></li>
                <li><a href="mailto:steven@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[partner]">Steven Fink</a></li>
                <li><a href="mailto:michael@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[partner]">Michael Taub</a></li>
                <li><a href="mailto:rebecca@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[associate]">Rebecca Schnirel</a></li>
                <li><a href="mailto:mlevitz@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[associate]">Michael Levitz</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
 
    
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Map Modal -->
 
  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600" /></p>
 
    <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
    <a href="#" class="close-reveal-modal">&times;</a>
  </div>
   <script src="{{ site.baseurl }}/theme/js/vendor/jquery.js"></script>
  <!--<script src="{{ site.baseurl }}/theme/js/vendor/fastclick.js"></script>-->
  <script src="{{ site.baseurl }}/theme/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>