<!doctype html>
<html dir="ltr" lang="{{ site.theme.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cantor, Fink, &amp; Taub | {{ page.title }}</title>
  {% include robots.html %}
  {% include meta-description.html %}

  {% for favicon in site.theme.favicons %}
    {% assign size = favicon | split: '-' | last | split: '.' | first %}
    <link rel="icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
    <link rel="apple-touch-icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
  {% endfor %}

  <link rel="stylesheet" href="{{ site.baseurl }}/theme/app.css">
  <script src="{{ site.baseurl }}/theme/js/vendor/modernizr.js"></script>
</head>
<body>
  <!-- For Foundation Icons, put this in your head -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">          
  <!-- Main Page Content and Sidebar -->
  <footer class="header">
    <div class="row full-width">
      <div class="small-12 medium-2 large-3 columns">
        <img src="{{ site.baseurl }}/img/buffalo-law-logo.png" class="logo">
      </div>
      <div class="small-12 medium-3 large-4 columns slogan">
        <p>{{ page.title }}</p>
        <!-- <img src="{{ site.baseurl }}/img/skyline.png"> -->
      </div>
      <div class="small-12 medium-3 large-4 columns">
        <p><i class="fi-mail style1"></i><a href="mailto:info@buffalolaw.com">&nbsp;&nbsp;info@buffalolaw.com</a></p>
        <p><i class="fi-telephone style1"></i>&nbsp;&nbsp;716-848-8000</p>
        <p><i class="fi-marker style1"></i>&nbsp;&nbsp;43 Court Street | Suite 930 | Buffalo, NY 14202</p>
      </div>
    </div>
  </footer>
  <div class="row full-width">
 <!-- Sidebar -->
    <div class="large-6 columns">
        <h5>&nbsp;</h5>
        <h5>&nbsp;</h5>
        <img src="{{ site.baseurl }}{{ page.image }}" style="max-width:600px; text-align:center;">
    </div>
    <!-- End Sidebar -->
    <!-- Contact Details -->
    <div class="large-6 columns">
        <h5>&nbsp;</h5>
        <h5>&nbsp;</h5>
        <p>{{ content }}</p>

        <div class="large-12 columns">
          <!-- <dl class="tabs" data-tab="">
            <dd class="active"><a href="#htab-panel1">Contact Us</a></dd>
            <dd class=""><a href="#htab-panel2">Contact a Specific Person</a></dd>
          </dl>  --> 
          <div class="tabs-content">
            <div class="content active" id="htab-panel1">
             {% include contact-form.html %}
            </div>
            <!-- <div class="content" id="htab-panel2">
              <div class="content" data-slug="panel2">
                <h6>Attorneys</h6>
                <ul class="large-block-grid-3">
                  <li><a href="mailto:mark@buffalolaw.com"><img src="img/mark-cantor.jpg">Mark Cantor</a></li>
                  <li><a href="mailto:steven@buffalolaw.com"><img src="img/steven-fink.jpg">Steven Fink</a></li>
                  <li><a href="mailto:michael@buffalolaw.com"><img src="img/michael-taub.jpg">Michael Taub</a></li>
                  <li><a href="mailto:rebecca@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[associate]">Rebecca Schnirel</a></li>
                  <li><a href="mailto:mlevitz@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[associate]">Michael Levitz</a></li>
                </ul>
                <h6>Administration</h6>
                <ul class="large-block-grid-5">
                  <li><a href="mailto:sharon@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[person]">Sharon Valente</a></li>
                  <li><a href="mailto:rachel@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[person]">Rachel Cantor</a></li>
                  <li><a href="mailto:alejandra@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[person]">Alejandra</a></li>
                  <li><a href="mailto:mindy@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[person]">Mindy Fink</a></li>
                  <li><a href="mailto:tammy@buffalolaw.com"><img src="http://placehold.it/200x200&amp;text=[person]">Tammy</a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>

        
    </div>
    
  </div>
 </div>
  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
<footer class="footer">
  <div class="row full-width">
    
  </div>
</footer>             
   <script src="{{ site.baseurl }}/theme/js/vendor/jquery.js"></script>
  <!--<script src="{{ site.baseurl }}/theme/js/vendor/fastclick.js"></script>-->
  <script src="{{ site.baseurl }}/theme/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58687281-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>